@media screen and (max-width: 545px) {

    .navegation,
    .rodape {
        padding: 0 5%;
    }

    .rodape {
        padding-left: 5%;
        padding-right: 5%;
    }

    .menu,
    .navegation .request-invite {
        display: none;
    }

    .menu-humburger {
        display: block;
        height: 2px;
        width: 30px;
        background: rgba(0, 0, 0, 0.87);
        position: relative;
        cursor: pointer;
    }

    .menu-humburger::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.87);
        position: absolute;
        top: -6px;
        left: 0;
    }

    .menu-humburger::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.87);
        position: absolute;
        bottom: -6px;
        left: 0;
    }

    .banner .intro h1 {
        font-size: 2.5rem;
    }

    .banner .intro {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .banner {
        padding: 0;
        display: block;
        height: auto;
        padding: 10% 5%;
    }

    .banner img {
        display: none;
    }

    .why-choose {
        text-align: center;
    }

    .latest h2 {
        text-align: center;
    }

    .why-choose .intro {
        margin: 10px 0;
    }

    .rodape {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        text-align: center;

    }

    .rodape .info {
        align-items: center;
        flex-direction: column;
        width: 60%;
        margin: 10px 0;
    }

    .rodape button {
        width: 150px;
        margin: 15px auto;
        margin-top: 0px;
    }

    .rodape .social-networking {
        margin: 15px 0;
        margin-bottom: 5px;
    }

    .rodape li {
        margin: 5px 0;
        margin-top: 0;
    }

    .menu-humburger-close {
        height: 2px;
        width: 20px;
        position: relative;
        pointer-events: none;
    }

    .menu-humburger-close::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: hsl(136, 65%, 51%);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        transform: rotateZ(45deg);
        animation-name: show-left;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        pointer-events: all;
    }

    .menu-humburger-close::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: hsl(192, 70%, 51%);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        transform: rotateZ(-45deg);
        animation-name: show-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        pointer-events: all;
    }

}

@keyframes show-left {
    0% {
        transform: rotateZ(0deg);
        opacity: 0;
    }

    100% {
        transform: rotateZ(45deg);
        opacity: 1;
    }
}

@keyframes show-right {
    0% {
        transform: rotateZ(0deg);
        opacity: 0;
    }

    100% {
        transform: rotateZ(-45deg);
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .navegation {
        padding: 0 10%;
    }

    .rodape {
        padding-left: 10%;
        padding-right: 10%;
    }

    .why-choose,
    .latest {
        padding: 10%;
    }

    .group,
    .latest .group {
        margin-top: 10%;
    }

    .banner {
        padding-left: 10%;
        height: 680px;
    }

    .banner .intro-img img {
        position: absolute;
        top: 10%;
        right: -18%;
        z-index: 4;
        height: 100%;
    }
}